
<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic
Product Version: 8.2.1
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../" />
    <title>Area amministratore</title>
    <meta charset="utf-8" />
    <meta name="description" content="The most advanced Bootstrap 5 Admin Theme with 40 unique prebuilt layouts on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel versions. Grab your copy now and get life-time updates for free." />
    <meta name="keywords" content="metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel starter kits, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Metronic - The World's #1 Selling Bootstrap Admin Template - Metronic by KeenThemes" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="Metronic by Keenthemes" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Vendor Stylesheets(used for this page only)-->
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    <script>// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }</script>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="aside-enabled">
<!--begin::Theme mode setup on page load-->
<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
<!--end::Theme mode setup on page load-->
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <!--begin::Aside-->
    {{> barraLaterale nome=Utente.nome cognome=Utente.cognome abbonamento=Abbonamento.nomeTier ruolo=Utente.ruolo}}
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
        <!--begin::Header-->
        {{> header titolo="Area amministratore" username=Utente.username}}
        <!--end::Header-->
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Post-->
            <div class="post d-flex flex-column-fluid" id="kt_post">
                <!--begin::Container-->
                <div id="kt_content_container" class="container-xxl">
                    <!--begin::Card-->
                    <div class="card card-flush">
                        <!--begin::Card header-->
                        <div class="card-header mt-6">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <!--begin::Search-->
                                <div class="d-flex align-items-center position-relative my-1 me-5">
                                    <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <input type="text" data-kt-permissions-table-filter="search" id="textFiltro" class="form-control form-control-solid w-250px ps-13" placeholder="Cerca utenti..."/>
                                </div>
                                <!--end::Search-->
                            </div>
                            <!--end::Card title-->
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <!--begin::Table-->
                            <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0" id="kt_permissions_table">
                                <thead>
                                <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                                    <th class="min-w-125px">Nome utente</th>
                                    <th class="min-w-250px">Ruolo</th>
                                    <th class="min-w-125px">Abbonamento</th>
                                    <th class="text-end min-w-100px">Cambia ruolo</th>
                                </tr>
                                </thead>
                                <tbody class="fw-semibold text-gray-600">
                                {{#each Utenti}}
                                    <tr>
                                        <td>{{this.nome}} {{this.cognome}} (@{{this.username}})</td>
                                        <td>
                                            {{#equal this.ruolo "Amministratore"}}
                                                <a class="badge badge-light-danger fs-7 m-1">Amministratore</a>
                                            {{/equal}}
                                            {{#equal this.ruolo "Moderatore"}}
                                                <a class="badge badge-light-warning fs-7 m-1">Moderatore</a>
                                            {{/equal}}
                                            {{#equal this.ruolo "Utente"}}
                                                <a class="badge badge-light-success fs-7 m-1">Utente</a>
                                            {{/equal}}
                                        </td>
                                        <td>
                                            <a>{{this.tierAbbonamento}}</a>
                                        </td>
                                        <td class="text-end">
                                            <button class="btn btn-icon btn-active-light-primary w-30px h-30px me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_update_permission" onclick="SetRuolo({{this.idUtente}},'{{this.ruolo}}')">
                                                <i class="ki-duotone ki-setting-3 fs-3">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                    <span class="path5"></span>
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <!--end::Table-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                    <!--begin::Modals-->
                    <!--begin::Modal - Update permissions-->
                    <div class="modal fade" id="kt_modal_update_permission" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Modal header-->
                                <div class="modal-header">
                                    <!--begin::Modal title-->
                                    <h2 class="fw-bold">Cambia ruolo</h2>
                                    <!--end::Modal title-->
                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-permissions-modal-action="close">
                                        <i class="ki-duotone ki-cross fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                    <!--end::Close-->
                                </div>
                                <!--end::Modal header-->
                                <!--begin::Modal body-->
                                <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">

                                    <!--begin::Form-->
                                    <form id="kt_modal_update_permission_form" class="form" action="#">
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-7 text-center">
                                            <!--begin::Label-->
                                            <label class="fs-6 fw-semibold form-label mb-2">
                                                Ruolo:
                                            </label>
                                            <!--end::Label-->
                                            <!--begin::Radio buttons-->
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="role" id="userRole" value="user">
                                                <label class="form-check-label" for="userRole">Utente</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="role" id="modRole" value="mod">
                                                <label class="form-check-label" for="modRole">Moderatore</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="role" id="adminRole" value="admin">
                                                <label class="form-check-label" for="adminRole">Amministratore</label>
                                            </div>
                                            <!--end::Radio buttons-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Actions-->
                                        <div class="text-center pt-15">
                                            <button type="reset" class="btn btn-light me-3" data-kt-permissions-modal-action="cancel">Annulla</button>
                                            <button type="submit" class="btn btn-primary" data-kt-permissions-modal-action="submit">
                                                <span class="indicator-label">Conferma</span>
                                                <span class="indicator-progress">Attendere...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <!--end::Actions-->
                                    </form>
                                    <!--end::Form-->

                                    <!--begin::Radio script-->
                                    <script>
                                        let idUtenteDaCambiare = -1;

                                        function CambioRuolo(){
                                            let nuovoRuolo="Utente";
                                            let checkAdmin=document.getElementById("adminRole");
                                            let checkModeratore=document.getElementById("modRole");

                                            if(checkAdmin.checked){
                                                nuovoRuolo="Amministratore";
                                            }
                                            else if(checkModeratore.checked){
                                                nuovoRuolo="Moderatore";
                                            }

                                            const url="{{BASE_URL}}/api/admin/setRuolo";

                                            let obj={
                                                "idUtente": idUtenteDaCambiare,
                                                "ruolo": nuovoRuolo
                                            };

                                            let headers={
                                                headers:{
                                                    Authorization: "{{idUtente}}.{{tokenAuth}}"
                                                }
                                            }
                                            axios.post(url,obj,headers).then((result)=>{
                                                let ris=result.data.Ris;
                                                if(ris===1){
                                                    Swal.fire({
                                                        text: "Ruolo modificato con successo!",
                                                        icon: "success",
                                                        buttonsStyling: false,
                                                        confirmButtonText: "Ok",
                                                        customClass: {
                                                            confirmButton: "btn btn-primary"
                                                        }
                                                    }).then(()=>{
                                                        window.location.replace("{{BASE_URL}}/admin");
                                                    });
                                                }
                                                else{
                                                    let mess=result.data.Mess;
                                                    Swal.fire({
                                                        text: mess,
                                                        icon: "error",
                                                        buttonsStyling: false,
                                                        confirmButtonText: "Ok, got it!",
                                                        customClass: {
                                                            confirmButton: "btn btn-primary"
                                                        }
                                                    });
                                                }
                                            }).catch((error)=>{
                                                Swal.fire({
                                                    text: error.message,
                                                    icon: "error",
                                                    buttonsStyling: false,
                                                    confirmButtonText: "Ok, got it!",
                                                    customClass: {
                                                        confirmButton: "btn btn-primary"
                                                    }
                                                });
                                            });
                                        }

                                        function SetRuolo(idUtente,nomeRuolo){
                                            idUtenteDaCambiare=idUtente;
                                            let checkAdmin=document.getElementById("adminRole");
                                            let checkModeratore=document.getElementById("modRole");
                                            let checkUtente=document.getElementById("userRole");

                                            if(nomeRuolo === "Amministratore"){
                                                checkAdmin.checked = true;
                                                checkModeratore.checked = false;
                                                checkUtente.checked = false;
                                            }
                                            else if(nomeRuolo === "Moderatore"){
                                                checkAdmin.checked = false;
                                                checkModeratore.checked = true;
                                                checkUtente.checked = false;
                                            }
                                            else{
                                                checkAdmin.checked = false;
                                                checkModeratore.checked = false;
                                                checkUtente.checked = true;
                                            }
                                        }
                                    </script>
                                    <!--end::Radio script-->

                                </div>
                                <!--end::Modal body-->
                            </div>
                            <!--end::Modal content-->
                        </div>
                        <!--end::Modal dialog-->
                    </div>
                    <!--end::Modal - Update permissions-->
                </div>
                <!--end::Modals-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Post-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    {{> footer}}
    <!--end::Footer-->
</div>
<!--end::Root-->
<!--end::Main-->
<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <i class="ki-duotone ki-arrow-up">
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
</div>
<!--end::Scrolltop-->
<!--begin::Javascript-->
<script>var hostUrl = "assets/";</script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Vendors Javascript(used for this page only)-->
<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
<!--end::Vendors Javascript-->
<!--begin::Custom Javascript(used for this page only)-->
<script src="src/js/custom/apps/user-management/permissions/update-permission.js"></script>
<script src="assets/js/widgets.bundle.js"></script>
<script src="assets/js/custom/widgets.js"></script>
<script src="assets/js/custom/apps/chat/chat.js"></script>
<script>

    document.getElementById('textFiltro').addEventListener('input', filtraTabella);

    function filtraTabella() {
        const indiceColonna = 0;
        const valoreFiltro = document.getElementById("textFiltro").value.trim().toLowerCase();
        let tabella = document.getElementById("kt_permissions_table");
        let righe = tabella.getElementsByTagName("tr");

        // Iterare su tutte le righe della tabella
        for (let i = 0; i < righe.length; i++) {
            let celle = righe[i].getElementsByTagName("td");

            // Controllare se la riga ha celle (per saltare l'header della tabella)
            if (celle.length > 0) {
                // Ottenere il testo della cella nella colonna specificata
                let testoCella = (celle[indiceColonna].textContent || celle[indiceColonna].innerText).toLowerCase();

                // Nascondere la riga se il testo della cella non corrisponde al valore del filtro
                if (testoCella.indexOf(valoreFiltro) > -1) {
                    righe[i].style.display = "";
                } else {
                    righe[i].style.display = "none";
                }
            }
        }
    }
</script>
<!--end::Custom Javascript-->
<!--end::Javascript-->
</body>
<!--end::Body-->
</html>
