
<!DOCTYPE html>

<html lang="it">
	<!--begin::Head-->
	<head>
<base href="../" />
		<title>Roleplayers AI</title>
		<meta charset="utf-8" />
		<meta name="description" content="Il miglior sito per fare roleplay con dei bot" />
		<meta name="keywords" content="Node.js, web design, figma, roleplay, AI" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="it_IT" />
		<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Vendor Stylesheets(used for this page only)-->
		<link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
		<script>// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }</script>
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="aside-enabled">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::Main-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root">
            {{> barraLaterale nome=Utente.nome cognome=Utente.cognome abbonamento=Abbonamento.nomeTier ruolo=Utente.ruolo}}
				<!--begin::Wrapper-->
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                    {{> header titolo="Libreria"}}
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Post-->
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div id="kt_content_container" class="container-xxl">
								<!--begin::Layout-->
								<div class="d-flex flex-column flex-xl-row">
									<!--begin::Content-->
									<div class="d-flex flex-row-fluid me-xl-9 mb-10 mb-xl-0">
										<!--begin::Pos food-->
										<div class="card card-flush card-p-0 bg-transparent border-0">
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Nav-->
												<ul class="nav nav-pills d-flex justify-content-between nav-pills-custom gap-3 mb-6">
													<!--begin::Item-->
													<li class="nav-item mb-3 me-0">
														<!--begin::Nav link-->
														<a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg show active" data-bs-toggle="pill" href="#lib_all" style="width: 138px;height: 180px" onclick="Ricerca(0)">
															<!--begin::Info-->
															<div class="">
																<span class="text-gray-800 fw-bold fs">&nbsp <br></span>
																<span class="text-gray-800 fw-bold fs">&nbsp <br></span>
																<span class="text-gray-800 fw-bold fs-2">Tutto</span>
															</div>
															<!--end::Info-->
														</a>
														<!--end::Nav link-->
													</li>
													<!--end::Item-->
													<!--begin::Item-->
													<li class="nav-item mb-3 me-0">
														<!--begin::Nav link-->
														<a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg" data-bs-toggle="pill" href="#lib_cha" style="width: 138px;height: 180px" onclick="Ricerca(1)">
															<!--begin::Icon-->
															<div class="nav-icon mb-3">
																<!--begin::Characters icon-->
																<img src="assets/media/svg/misc/Person_icon_BLACK-01.svg.png" class="w-50px" alt="" />
																<!--end::Characters icon-->
															</div>
															<!--end::Icon-->
															<!--begin::Info-->
															<div class="">
																<span class="text-gray-800 fw-bold fs-2 d-block">Personaggi</span>
															</div>
															<!--end::Info-->
														</a>
														<!--end::Nav link-->
													</li>
													<!--end::Item-->
													<!--begin::Item-->
													<li class="nav-item mb-3 me-0">
														<!--begin::Nav link-->
														<a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg" data-bs-toggle="pill" href="#lib_loc" style="width: 138px;height: 180px" onclick="Ricerca(2)">
															<!--begin::Icon-->
															<div class="nav-icon mb-3">
																<!--begin::Locations icon-->
																<img src="assets/media/svg/misc/Mountain_icon_(Noun_Project).svg.png" class="w-50px" alt="" />
																<!--end::Locations icon-->
															</div>
															<!--end::Icon-->
															<!--begin::Info-->
															<div class="">
																<span class="text-gray-800 fw-bold fs-2 d-block">Ambienti</span>
															</div>
															<!--end::Info-->
														</a>
														<!--end::Nav link-->
													</li>
													<!--end::Item-->
													<!--begin::Item-->
													<li class="nav-item mb-3 me-0">
														<!--begin::Nav link-->
														<a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg" data-bs-toggle="pill" href="#lib_con" style="width: 138px;height: 180px" onclick="Ricerca(3)">
															<!--begin::Icon-->
															<div class="nav-icon mb-3">
																<!--begin::Context icon-->
																<img src="assets/media/svg/misc/blackboard-icon-260nw-608939333.svg" class="w-50px" alt="" />
																<!--end::Context icon-->
															</div>
															<!--end::Icon-->
															<!--begin::Info-->
															<div class="">
																<span class="text-gray-800 fw-bold fs-2 d-block">Contesti</span>
															</div>
															<!--end::Info-->
														</a>
														<!--end::Nav link-->
													</li>
													<!--end::Item-->
												</ul>
												<!--end::Nav-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid px-13" name="search" id="search" value="" placeholder="Cerca..." />
                                                <!--end::Input-->
												<!--begin::Tab Content-->
												<!--begin::Tab Content-->
												<div class="">
													<!--begin::Tap pane-->
													<div class="">
														<!--begin::Wrapper-->
														<div class="d-flex flex-wrap d-grid gap-5 gap-xxl-9" id="divContenuti">

														</div>
														<!--end::Wrapper-->
													</div>
													<!--end::Tap pane-->
												</div>
												<!--end::Tab Content-->
											</div>
											<!--end: Card Body-->
										</div>
										<!--end::Pos food-->
									</div>
									<!--end::Content-->
								</div>
								<!--end::Layout-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
					</div>
					<!--end::Content-->
                    {{> footer}}
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Root-->
		<!--end::Main-->
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<i class="ki-duotone ki-arrow-up">
				<span class="path1"></span>
				<span class="path2"></span>
			</i>
		</div>
		<!--end::Scrolltop-->
		<!--begin::Javascript-->
		<script>var hostUrl = "assets/";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="assets/plugins/global/plugins.bundle.js"></script>
		<script src="assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="assets/js/custom/pages/general/pos.js"></script>
		<script src="assets/js/widgets.bundle.js"></script>
		<script src="assets/js/custom/widgets.js"></script>
		<script src="assets/js/custom/utilities/modals/users-search.js"></script>
		<script>
			let vettElementi=[];

			let urlApiContenuti="{{BASE_URL}}/api/creazione/cerca?Nome&Tipo&Pagina=1";
			axios.get(urlApiContenuti,{
				headers:{
					Authorization: "{{idUtente}}.{{tokenAuth}}"
				}
			}).then((result)=>{
				let ris=result.data.Ris;
				if(ris===1){
					let vettCreazioni=result.data.Creazione.creazioni;

                    for(const creazione of vettCreazioni){
                        let tipoContenuto=1;
                        if(creazione.tipo==="Ambiente"){
                            tipoContenuto=2;
                        }
                        vettElementi.push({
                            id:creazione.idCreazione,
                            nome:creazione.nome,
                            immagine:creazione.immagine,
                            tipoContenuto:tipoContenuto
                        });
                    }

					let urlApiContesti="{{BASE_URL}}/api/contesto/cercaContesto?Pagina=1";

					axios.get(urlApiContesti,{
						headers:{
                            Authorization: "{{idUtente}}.{{tokenAuth}}"
						}
					}).then((result)=>{
						let ris=result.data.Ris;
						if(ris===1){
							let vettContesti=result.data.Contesto.contesti;

                            for(const contesto of vettContesti){
                                vettElementi.push({
                                    id:contesto.idContesto,
                                    nome:contesto.nome,
                                    immagine:contesto.immagine,
                                    tipoContenuto:3
                                });
                            }
                            Ricerca(0);
						}
						else{
							let mess=result.data.Mess;
							Swal.fire({
								text: mess,
								icon: "error",
								buttonsStyling: false,
								confirmButtonText: "Ok",
								customClass: {
									confirmButton: "btn btn-primary",
								}
							});
						}
					}).catch((error)=>{
						Swal.fire({
							text: error.message,
							icon: "error",
							buttonsStyling: false,
							confirmButtonText: "Ok",
							customClass: {
								confirmButton: "btn btn-primary",
							}
						});
					});
				}
				else{
					let mess=result.data.Mess;
					Swal.fire({
						text: mess,
						icon: "error",
						buttonsStyling: false,
						confirmButtonText: "Ok",
						customClass: {
							confirmButton: "btn btn-primary",
						}
					});
				}
			}).catch((error)=>{
				Swal.fire({
					text: error.message,
					icon: "error",
					buttonsStyling: false,
					confirmButtonText: "Ok",
					customClass: {
						confirmButton: "btn btn-primary",
					}
				});
			});

			function Ricerca(tipo)
			{
                let vettFiltrato=[...vettElementi];
                if(tipo !== 0){
                    vettFiltrato=vettElementi.filter((el)=>{
                        return el.tipoContenuto===tipo;
                    });
                }

                let html="";
                for(const elem of vettFiltrato){
                    html+=`<div class="card card-flush p-6 pb-5 mw-100">
                            <!--begin::Body-->
                            <div class="card-body text-center">
                                <!--begin::Food img-->`;
                    if(elem.tipoContenuto!==3){
                        html+=`<img src="${elem.immagine}" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />`;
                    }
                            html+=`<!--end::Food img-->
                                <!--begin::Info-->
                                <div class="mb-2">
                                    <!--begin::Title-->
                                    <div class="text-center">
                                        <span class="fw-bold text-gray-800 text-hover-primary fs-3 fs-xl-1">${elem.nome}</span>
                                    </div>
                                    <!--end::Title-->
                                </div>
                                <!--end::Info-->
                                <!--begin::Button-->
                                <div class="d-grid mb-10">
                                    <button type="submit" class="btn btn-primary">
                                        <!--begin::Indicator label-->
                                        <span class="indicator-label">Aggiungi all'inventario</span>
                                        <!--end::Indicator label-->
                                        <!--begin::Indicator progress-->
                                        <span class="indicator-progress">Attendi per favore...
                                                                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                        <!--end::Indicator progress-->
                                    </button>
                                </div>
                                <!--end::Button-->
                            </div>
                            <!--end::Body-->
                        </div>`;
                }

                document.getElementById("divContenuti").innerHTML=html;
			}
		</script>

		<!--end::Custom Javascript-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>
