<!--begin::Page-->
<div class="page d-flex flex-row flex-column-fluid">
    <!--begin::Aside-->
    <div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
        <!--begin::Aside Toolbarl-->
        <div class="aside-toolbar flex-column-auto" id="kt_aside_toolbar">
            <!--begin::Aside user-->
            <!--begin::User-->
            <div class="aside-user d-flex align-items-sm-center justify-content-center py-5">
                <!--begin::Symbol-->
                <div class="symbol symbol-50px">
                    <img src="{{BASE_URL}}/assets/media/avatars/default_pfp.png" alt="" />
                </div>
                <!--end::Symbol-->

                <!--begin::Wrapper-->
                <div class="aside-user-info flex-row-fluid flex-wrap ms-5">
                    <!--begin::Section-->
                    <div class="d-flex">
                        <!--begin::Info-->
                        <div class="flex-grow-1 me-2">
                            <!--begin::Username-->
                            <span class="text-white fs-6 fw-bold">{{nome}} {{cognome}}</span>
                            <!--end::Username-->
                        </div>
                        <!--end::Info-->

                        <!--begin::User menu-->
                        <div class="me-n2">
                            <!--begin::Action-->
                            <a href="#" class="btn btn-icon btn-sm btn-active-color-primary mt-n2" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-overflow="true">
                                <i class="ki-duotone ki-setting-2 text-muted fs-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </a>
                            <!--begin::User account menu-->
                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <div class="menu-content d-flex align-items-center px-3">
                                        <!--begin::Avatar-->
                                        <div class="symbol symbol-50px me-5">
                                            <img alt="Logo" src="{{BASE_URL}}/assets/media/avatars/icona.png" />
                                        </div>
                                        <!--end::Avatar-->
                                        <!--begin::Username-->
                                        <div class="d-flex flex-column">
                                            <div class="fw-bold d-flex align-items-center fs-5">{{nome}} {{cognome}}
                                                <span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">{{abbonamento}}</span></div>
                                        </div>
                                        <!--end::Username-->
                                    </div>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu separator-->
                                <div class="separator my-2"></div>
                                <!--end::Menu separator-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-5">
                                    <a href="{{BASE_URL}}/profilo" class="menu-link px-5">Profilo Utente</a>
                                </div>
                                <!--end::Menu item-->

                                {{#equal ruolo "Amministratore"}}
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-5">
                                        <a href="{{BASE_URL}}/admin" class="menu-link px-5">Area Admin</a>
                                    </div>
                                    <!--end::Menu item-->
                                {{/equal}}

                                <!--begin::Menu item-->
                                <div class="menu-item px-5">
                                    <a href="{{BASE_URL}}/policy.html" target="_blank" class="menu-link px-5">
                                        <span class="menu-text">Privacy</span>
                                    </a>
                                </div>
                                <!--end::Menu item-->

                                <!--begin::Menu item-->
                                <div class="menu-item px-5">
                                    <a href="{{BASE_URL}}/logout" class="menu-link px-5">Logout</a>
                                </div>
                                <!--end::Menu item-->
                            </div>
                            <!--end::User account menu-->
                            <!--end::Action-->
                        </div>
                        <!--end::User menu-->
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::User-->

            <!--begin::Aside search-->
            <div class="aside-search py-5">
                <!--begin::Search-->
                <div id="kt_header_search" class="header-search d-flex align-items-center w-100" data-kt-search-keypress="true" data-kt-search-min-length="2" data-kt-search-enter="enter" data-kt-search-layout="menu" data-kt-search-responsive="false" data-kt-menu-trigger="auto" data-kt-menu-permanent="true" data-kt-menu-placement="bottom-start">
                    <!--begin::Form-->
                    <form data-kt-search-element="form" class="w-100 position-relative" method="GET" action="{{BASE_URL}}/libreria" autocomplete="off" onsubmit="return cerca()">
                        <!--begin::Hidden input(Added to disable form autocomplete)-->
                        <input type="hidden" />
                        <!--end::Hidden input-->

                        <!--begin::Icon-->
                        <i class="ki-duotone ki-magnifier fs-2 search-icon position-absolute top-50 translate-middle-y ms-4">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <!--end::Icon-->
                        <!--begin::Input-->
                        <input type="text" id="textRicerca" class="search-input form-control ps-13 fs-7 h-40px" name="searchContenuto" value="" placeholder="Cerca..." data-kt-search-element="input" />
                        <!--end::Input-->
                    </form>
                    <!--end::Form-->

                    <!--begin::Menu-->
                    <div data-kt-search-element="content" class="menu menu-sub menu-sub-dropdown py-7 px-7 overflow-hidden w-300px w-md-350px">
                        <!--begin::Wrapper-->
                        <div data-kt-search-element="wrapper">

                            <!--begin::Recently viewed-->
                            <div class="" data-kt-search-element="main">
                                <!--begin::Heading-->
                                <div class="d-flex flex-stack fw-semibold mb-4">
                                    <!--begin::Label-->
                                    <span class="text-muted fs-6 me-2">Cercato di recente:</span>
                                    <!--end::Label-->
                                    <!--begin::Toolbar-->
                                    <div class="d-flex" data-kt-search-element="toolbar">
                                    </div>
                                    <!--end::Toolbar-->
                                </div>
                                <!--end::Heading-->

                                <!--begin::Items-->
                                <div class="scroll-y mh-200px mh-lg-325px" id="divRicerca">
                                    <div class="d-flex align-items-center mb-5">
                                        <!--begin::Title-->
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-semibold">"Landing UI Design" Launch</a>
                                            <span class="fs-7 text-muted fw-semibold">#24005</span>
                                        </div>
                                        <!--end::Title-->
                                    </div>

                                    <div class="d-flex align-items-center mb-5">
                                        <!--begin::Title-->
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-semibold">"Landing UI Design" Launch</a>
                                            <span class="fs-7 text-muted fw-semibold">#24005</span>
                                        </div>
                                        <!--end::Title-->
                                    </div>

                                    <div class="d-flex align-items-center mb-5">
                                        <!--begin::Title-->
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-semibold">"Landing UI Design" Launch</a>
                                            <span class="fs-7 text-muted fw-semibold">#24005</span>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Recently viewed-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Menu-->
                </div>
                <!--end::Search-->
            </div>
            <!--end::Aside search-->
            <!--end::Aside user-->
        </div>
        <!--end::Aside Toolbarl-->

        <!--begin:Menu item-->
        <div class="menu-item">
            <!--begin:Menu link-->
            <a class="menu-link" href="{{BASE_URL}}/sessione">
										<span class="menu-icon">
											<img alt="Logo" src="{{BASE_URL}}/assets/media/avatars/buble.png" />
										</span>
                <span class="text-white text-hover-primary fs-6 fw-bold">Sessione</span>
            </a>
            <!--end:Menu link-->
        </div>
        <!--end:Menu item-->
        <!--begin:Menu item-->
        <div class="menu-item">
            <!--begin:Menu link-->
            <a class="menu-link" href="{{BASE_URL}}/contenuto">
										<span class="menu-icon">
											<img alt="Logo" src="{{BASE_URL}}/assets/media/avatars/crea.png" />
										</span>
                <span class="text-white text-hover-primary fs-6 fw-bold">Crea</span>
            </a>
            <!--end:Menu link-->
        </div>
        <!--end:Menu item-->
        <!--begin:Menu item-->
        <div class="menu-item">
            <!--begin:Menu link-->
            <a class="menu-link" href="{{BASE_URL}}/inventario">
										<span class="menu-icon">
											<img alt="Logo" src="{{BASE_URL}}/assets/media/avatars/inventario.png" />
										</span>
                <span class="text-white text-hover-primary fs-6 fw-bold">Inventario</span>
            </a>
            <!--end:Menu link-->
        </div>
        <!--end:Menu item-->
        <!--begin:Menu item-->
        <div class="menu-item">
            <!--begin:Menu link-->
            <a class="menu-link" href="{{BASE_URL}}/libreria">
										<span class="menu-icon">
											<img alt="Logo" src="{{BASE_URL}}/assets/media/avatars/libreria.png" />
										</span>
                <span class="text-white text-hover-primary fs-6 fw-bold">Libreria</span>
            </a>
            <!--end:Menu link-->
        </div>
        <!--end:Menu item-->
    </div>
    <!--end::Menu-->
</div>
<!--end::Aside Menu-->
</div>
<!--end::Aside menu-->
</div>
<!--end::Aside-->

<script>
    function cerca()
    {
        let nome=document.getElementById("textRicerca").value;
        listaRecenti.push(nome);
        setCookie("recenti",JSON.stringify(listaRecenti));
        return true;
    }

    function setCookie(cName, cValue) {
        let date = new Date();
        date.setTime(date.getTime() + (90 * 24 * 60 * 60 * 1000));
        const expires = "expires=" + date.toUTCString();
        document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
    }

    function getCookieValue(name)
    {
        const regex = new RegExp(`(^| )${name}=([^;]+)`)
        const match = document.cookie.match(regex)
        if (match) {
            return match[2]
        }
    }

    let listaRecentiStr=getCookieValue("recenti");
    let listaRecenti=[];

    if(listaRecentiStr !== undefined && listaRecentiStr.length>0)
    {
        listaRecenti=JSON.parse(listaRecentiStr);

    }

    let html="";
    let actual=0;
    for(let i=(listaRecenti.length-1);(i>=0 && actual<5);i--) {
        let obj = listaRecenti[i];
        let item = `<div class="d-flex align-items-center mb-5">
						<!--begin::Title-->
						<div class="d-flex flex-column">
							<a href="{{BASE_URL}}/libreria/searchContenuto=${obj}" class="fs-6 text-gray-800 text-hover-primary fw-semibold">${obj}</a>
						</div>
						<!--end::Title-->
					</div>`;
        html+=item;
        actual++;
    }

    document.getElementById("divRicerca").innerHTML=html;

</script>
<!--begin::Javascript-->
<script>var hostUrl = "{{BASE_URL}}/assets/";</script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{{BASE_URL}}/assets/plugins/global/plugins.bundle.js"></script>
<script src="{{BASE_URL}}/assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->

<!--begin::Vendors Javascript(used for this page only)-->
<script src="{{BASE_URL}}/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
<script src="{{BASE_URL}}/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<!--end::Vendors Javascript-->
<!--begin::Custom Javascript(used for this page only)-->
<script src="{{BASE_URL}}/assets/js/widgets.bundle.js"></script>
<script src="{{BASE_URL}}/assets/js/custom/widgets.js"></script>
<script src="{{BASE_URL}}/assets/js/custom/apps/chat/chat.js"></script>
<script src="{{BASE_URL}}/assets/js/custom/utilities/modals/users-search.js"></script>
<!--end::Custom Javascript-->
<!--end::Javascript-->